* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Container Section */
.container {
    max-height: 970px;
    max-width: 1720px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Navbar */
.nav-bar {
    max-height: 62px;
    max-width: 1718.26px;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    max-width: 236.26px;
    max-height: 60px;
}

.nav-brand img {
    width: auto;
}

.nav-links {
    max-height: 62px;
    max-width: 840px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.link-items {
    max-width: 652px;
    max-height: 36px;
    display: flex;
    gap: 1.5rem;
}

.nav-links ul li {
    max-width: 135px;
    max-height: 36px;
}

.nav-links ul li a {
    height: auto;
    width: auto;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links ul li .btn {
    max-height: 62px;
    max-width: 134px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

/* Header Section */
.header-container {
    max-height: 852px;
    max-width: 1720px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4rem 3rem;
    background-color: #F8F9FA;
    border-radius: 20px;
    margin: 2rem auto;
    width: 90%;
    position: relative;
}

.home-heading span {
    display: block;
}

.home-heading {
    max-height: 473px;
    max-width: 474px;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;  
}

.rotate_white {
    background-color: #FFFFFF;
    padding: 0.2rem 0.5rem;
}

.rotate_yellow {
    background-color: #EBD96B;
    padding: 0.2rem 0.5rem;
}

.rotate_white, .rotate_yellow {
    width: 20rem;
    transform: rotate(-2deg);
}

.rotate_white .rotate-back, .rotate_yellow .rotate-back {
    transform: rotate(2deg);
}

.home-sub-heading {
    max-width: 606px;
    max-height: 58px;
    font-size: 1.25rem;
    margin: 1rem 0 2rem;
}

.btn {
    max-height: 77px;
    max-width: 221px;
}

.btn-primary {
    background-color: #000;
    color: #FFFFFF;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.image-container {
    max-width: 50%;
    text-align: center;
}

.home-image {
    max-width: 871px;
    max-height: 784px;
    height: 30rem;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
}

/* Partner Section */
.partner-container {
    max-width: 1920px;
    max-height: 186px;
    background-color: #EBD96B;
    padding: 4rem;
    margin-top: 2rem;
}

.partner-image {
    max-width: 1570.85px;
    max-height: 57px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partner-container img {
    max-width: 86.47px;
    max-height: 57px;
}

/* arrival section */
.arrival-section {
    max-width: 1638px;
    max-height: 967px;
    background-color: #FFFFFF;
    padding: 2rem 4rem 4rem 4rem;
    margin-bottom: 1rem;
}

.arrival-heading {
    max-width: 404px;
    max-height: 41px;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.arrival-cards {
    max-height: 808px;
    max-width: 1638px;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}

.arrival-cards .card {
    max-height: 808px;
    max-width: 484px;
    position: relative;
}

.arrival-img {
    max-width: 484px;
    max-height: 704px;
    width: 20rem;
    height: 30rem;
}

.subheading-wrapper {
    max-height: 76px;
    max-width: 484px;
    margin-top: 1rem;
}

.card a {
    text-decoration: none;
    color: #7F7F7F;
;
}

.arrow {
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    left: 90%;
    bottom: 3%;
}


.subheading-wrapper .arrival-subhheading {
    max-width: 321px;
    max-height: 36px;
    margin: 1rem 0 0.5 0;
    font-weight: bold;
}

/* shop now section */
.shop-now-container {
    max-height: 968px;
    max-width: 1924px;
    background-color: #EBD96B;
    margin-bottom: 1rem;
    display: flex;
    justify-content: start;
}

.shop-now-container .card {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 7rem;
    position: relative;
}

.shop-heading {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}

.shop-head {
    display: flex;
    width: 14rem;
    padding: 0;
}

.shop-subheading {
    margin-bottom: 1rem;
}

.shop-subheading, .terms-subheading {
    font-weight: 500;
}

.date-subheading {
    font-weight: 700;
}

.shop-img {
    max-width: 100%;
    height: 30rem;
    border-radius: 10px;
    position: absolute;
    top: 28.5%;
}

.shop-btn {
    margin-top: 1rem;
}

/* trending section */
.trending-container {
    max-height: 847;
    max-width: 1720px;
    padding: 4rem;
}

.treanding-heading {
    max-height: 50px;
    max-width: 511px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.trending-card-container {
    max-height: 679px;
    max-width: 1720px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.trending-card-container .card {
    width: 50%;
}

.trending {
    max-width: 835px;
    max-height: 679px;
}

.trending-wrapper {
    max-width: 835px;
    max-height: 76px;
    margin-top: 1rem;
    position: relative;
}

.trending img {
    max-width: 834px;
    max-height: 575px;
    width: 37rem;
} 

.trending-wrapper p{
    max-width: 345px;
    max-height: 36px;
}

.trending-wrapper a {
    max-width: 146px;
    max-height: 33px;
    margin-top: 0.5rem;
}

.trending-wrapper img {
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    left: 90%;
    bottom: 30%;
}

/* download section */
.download-container {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

.download-container .card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-details {
    max-width: 507px;
    max-height: 382px;
}

.phone {
    max-width: 671px;
    max-height: 710px;
    height: min-content;
}

.download-details__text {
    max-height: 246px;
    max-width: 507px;
    gap: 41px;
    margin-bottom: 5rem;
}

.download-details h2 {
    max-width: 507px;
    max-height: 144px;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 6%;
    margin-bottom: 2rem;
}

.download-details p {
    max-width: 419px;
    max-height: 61px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
}

.btn-group {
    max-width: 427px;
    max-height: 71px;
}

.apple-btn, .google-btn {
    cursor: pointer;
    background-color: #000000;
    color:#FFFFFF;
    max-width: 204px;
    max-height: 71px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 3%;
}

.apple-btn span, .google-btn span {
    display: block;
}